.header {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  height: 162px;

  @media (max-width: $lg) {
    height: 50px;

    background-color: #333;
  }
}

.header__container {
  @media (max-width: $lg) {
    max-width: 100%;
  }
}

.header__top {
  display: flex;
  // justify-content: space-between;
  width: 100%;

  background: rgba(0, 0, 0, .5) url("../img/bc/grey-bg-copy.png") no-repeat scroll 0 0;

  @media (max-width: $lg) {
    align-items: center;

    background: none;
  }
}

.header__logo {
  width: 30%;
  margin-right: auto;
  padding: 24px 0 13px 32px;

  @media (max-width: $lg) {
    padding: 5px 0;
  }
}

.header__logo img {
  @media (max-width: $lg) {
    width: auto;
    height: 40px;
  }
}

.header__right {
  display: flex;
  flex-direction: column;
  width: calc(100% - 30%);

  @media (max-width: $xl) {
    margin-left: 30px;
  }
}

.header__right-top {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  @media (max-width: $lg) {
    margin-bottom: 0;
  }
}

.header__address {
  flex-grow: 1;

  @media (max-width: $lg) {
    display: flex;
    justify-content: flex-end;
    margin-right: 75px;
  }
}

.header__appointment {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 59px;
  margin-left: -15px;
  padding: 17px 20px;

  font-weight: 600;
  font-size: 19px;
  line-height: 25px;
  font-family: $ff-secondary;
  text-align: center;
  color: $c-main;

  background-color: $c-accent;

  transition: .3s;

  @media (max-width: $lg) {
    width: 131px;
    height: 50px;
    padding: 6px 20px;

    font-size: 15px;
    line-height: 22px;
  }


  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -47.3px;

    width: 0;
    height: 0;

    border-width: 0 48px 59px 0;
    border-style: solid;
    border-color: transparent $c-accent transparent transparent;

    @media (max-width: $lg) {
      border-bottom-width: 50px;
    }
  }

  & svg {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 10px;

    transition: .3s;

    fill: $c-main;

    @media (max-width: $lg) {
      display: none;
    }
  }

  &:hover {
    color: #333;
    text-decoration: none;
  }

  &:hover svg {
    fill: #333;
  }
}

.header__right-bottom {
  display: flex;
  justify-content: space-between;

  @media (max-width: $lg) {
    display: none;
  }
}

.header__icons {
  display: flex;
}

.header__icons img {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.header__phone {
  display: flex;
  align-items: center;
}

.header__phone .phone__link {
  margin-right: 15px;
}

.header__bottom {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  // height: 54px;
  padding: 0 15px;

  background-color: $c-secondary;

  @media (max-width: $lg) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

    width: 25%;
    height: 100%;
    padding: 0;
    overflow-y: scroll;

    background-color: #262626;
    transform: translate(-100%, 0);

    transition: .3s;

    &--active {
      transform: translate(0, 0);
    }
  }
}

.header__nav {
  @media (max-width: $lg) {
    width: 100%;
    padding-top: 40px;
  }
}

.header__right-block {
  @media (max-width: $lg) {
    display: flex;
    align-items: center;
  }
}

.header__nav-btn {
  @media (max-width: $lg) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }

  & span {
    @media (max-width: $lg) {
      display: inline-block;
      width: 12px;
      height: 2px;

      background-color: $c-secondary;
    }
  }

  & span:nth-child(2) {
    @media (max-width: $lg) {
      width: 20px;
      margin: 4px 0;
    }
  }
}

.header__icon-close {
  @media (max-width: $lg) {
    position: absolute;
    top: 15px;
    right: 20px;

    width: 30px;
    height: 30px;

    background: url("../img/icon/close.svg") no-repeat center center;
    background-size: 20px;
  }

  @media (max-width: $md) {
    top: 12px;
    right: 5px;
  }
}
