.title {
}

h1 {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 44px;
  line-height: 44px;
  font-family: $ff-secondary;
  text-align: center;
  color: $c-secondary;

  @media (max-width: $lg) {
    font-size: 40px;
    line-height: 40px;
  }
}

h2 {
  margin: 0;

  font-weight: 600;
  font-size: 44px;
  line-height: 50px;
  font-family: $ff-secondary;
  text-align: center;
  color: #3a3a3a;

  @media (max-width: $lg) {
    font-size: 40px;
    line-height: 50px;
  }

  @media (max-width: $md) {
    font-size: 33px;
    line-height: 40px;
  }
}

h3 {
  margin: 0;

  font-weight: 600;
  font-size: 27px;
  line-height: 33px;
  font-family: $ff-secondary;
  text-align: center;
  color: #292929;

  @media (max-width: $xl) {
    font-size: 25px;
    line-height: 31px;
  }

  @media (max-width: $lg) {
    font-size: 22px;
    line-height: 29px;
  }
}

h4 {
  margin-bottom: 0;

  font-weight: 600;
  font-size: 22px;
  line-height: 37px;
  font-family: $ff-secondary;
  text-align: left;
  color: #3a3a3a;

  @media (max-width: $lg) {
    font-size: 18px;
    line-height: 25px;
  }
}

.title-desc {
  font-weight: 400;
  font-size: $fz-main;
  line-height: 26px;
  font-family: $ff-secondary;
  text-align: center;
  color: #292929;

  @media (max-width: $lg) {
    font-size: 15px;
    line-height: 24px;
  }

  @media (max-width: $md) {
    font-size: 14px;
    line-height: 19px;
  }
}

.title-separator {
  position: relative;

  display: flex;
  justify-content: center;
  width: 46px;
  height: 3px;
  margin: 0 auto;
  margin-bottom: 40px;

  text-align: center;

  background-color: $c-accent;

  @media (max-width: $sm) {
    width: 34px;
    height: 2px;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;

    display: block;
    width: 3px;
    height: 3px;

    background-color: $c-accent;

    @media (max-width: $sm) {
      width: 2px;
      height: 2px;
    }
  }

  &::after {
    right: -5px;
  }

  &::before {
    right: -10px;
  }
}
