.about-us {
}

.about-us__wrap {
  display: flex;
  margin-bottom: 50px;

  @media (max-width: $md) {
    flex-direction: column;
  }
}

.about-us__wrap-img {
  flex-shrink: 0;
  width: 50%;

  & img {
    filter: grayscale(0);

    @media (max-width: $md) {
      // max-width: 450px;
    }
  }

  @media (max-width: $md) {
    width: 100%;
  }
}

.about-us__wrap-desc {
  flex-grow: 1;
  padding-top: 25px;
  padding-left: 80px;

  @media (max-width: $lg) {
    padding-top: 0;
    padding-left: 40px;
  }

  @media (max-width: $md) {
    padding-top: 60px;
    padding-left: 0;
  }

  @media (max-width: $sm) {
    padding-top: 50px;
  }
}

.about-us__title {
  margin-bottom: 10px;

  text-align: left;

  & span {
    color: $c-accent;
  }
}

.about-us__title-separator {
  margin: 0 0 40px;

  @media (max-width: $md) {
    margin-bottom: 30px;
  }

  @media (max-width: $sm) {
    margin-bottom: 15px;
  }
}

.about-us__desc,
.about-us__item {
  font-weight: 400;
  font-size: $fz-main;
  line-height: 25px;
  font-family: $ff-main;
  color: $c-main;

  @media (max-width: $md) {
    font-size: 14px;
  }
}

.about-us__desc {
  margin-bottom: 25px;

  @media (max-width: $md) {
    margin-bottom: 20px;
  }
}


.about-us__list {
  margin-bottom: 15px;
  padding-left: 15px;

  list-style-type: disc;
}


.about-us__box {
}

.about-us__block {
  width: $c-4;

  @media (max-width: $lg) {
    width: $c-12;
    margin-bottom: 50px;
  }
}

.about-us__box-title {
  margin-bottom: 10px;

  line-height: 34px;

  @media (max-width: $lg) {
    font-size: 22px;
    line-height: 34px;
  }
}

.about-us__box-text,
.about-us__box-item {
  font-weight: 400;
  font-size: $fz-main;
  line-height: 25px;
  font-family: $ff-main;
  color: $c-main;

  @media (max-width: $md) {
    font-size: 14px;
  }
}

.about-us__box-item {
  position: relative;

  margin-bottom: 8px;
  padding-left: 30px;

  font-weight: 500;


  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 15px;
    height: 15px;

    background: url("../img/icon/check-solid.svg") no-repeat;
    transform: translate(0, -50%);
  }
}
