.address {
  position: relative;

  margin-bottom: 12px;
  padding-left: 30px;

  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: $ff-main;
  color: $c-secondary;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 16px;
    height: 16px;

    background: url("../img/icon/map-mark.svg") no-repeat;
    transform: translate(0, -50%);
  }
}
