.advantage {
}

.advantage__title {
  margin-bottom: 10px;
}

.advantage__title-desc {
  margin-bottom: 40px;
}

.advantage__block {
  display: flex;
  align-items: flex-start;
  width: $c-4;

  @media (max-width: $lg) {
    flex-direction: column;
  }

  @media (max-width: $md) {
    align-items: center;
    width: $c-12;
    margin-bottom: 15px;
  }

  &:hover {
    text-decoration: none;
  }
}

.advantage__icon {
  margin-right: 25px;

  @media (max-width: $lg) {
    margin: 0 auto;
    margin-bottom: 15px;
  }

  & svg {
    width: 50px;
    height: 50px;

    transition: .3s;

    fill: #3a3a3a;
  }

  .advantage__block:hover & svg {
    transform: scale(1.1);
  }
}

.advantage__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 25px;

  @media (max-width: $lg) {
    padding-left: 0;
  }
}

.advantage__name {
  position: relative;

  margin-top: -10px;
  margin-bottom: 10px;

  font-size: 22px;
  line-height: 37px;
  text-align: left;
  color: #3a3a3a;

  @media (max-width: $lg) {
    margin-bottom: 25px;
    padding-bottom: 10px;

    font-size: 18px;
    text-align: center;
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -25px;

    display: block;
    width: 3px;
    height: 46px;

    background-color: $c-accent;

    @media (max-width: $lg) {
      top: 100%;
      left: 50%;

      width: 46px;
      height: 3px;

      transform: translate(-50%, 0);
    }
  }
}

.advantage__text {
  margin-bottom: 0;

  font-weight: 400;
  font-size: $fz-main;
  line-height: 25px;
  font-family: $ff-main;
  text-align: left;
  color: #292929;

  @media (max-width: $lg) {
    text-align: center;
  }

  @media (max-width: $md) {
    min-height: auto;
  }
}
