.intro-slider {
  height: 100%;
}

.intro-slider__slide {
  position: relative;

  height: 840px;

  @media (max-width: $xl) {
    height: 534px;
  }

  @media (max-width: $lg) {
    height: 526px;
  }

  @media (max-width: $md) {
    height: auto;
  }
}

.intro-slider__img {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 1920px;
  height: 846px;

  object-fit: cover;

  @media (max-width: $xl) {
    height: 534px;

    object-position: right;
  }

  @media (max-width: $lg) {
    height: 526px;
  }

  @media (max-width: $md) {
    width: 100%;
    // position: relative;
    height: 405px;

    object-position: center;
  }
}

.intro-slider__text-wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  // padding-top: 220px;

  padding-top: 20vw;

  @media (max-width: $lg) {
    // padding-top: 140px;
    padding-top: 12vw;
  }

  @media (max-width: $md) {
    padding-top: 18vw;
  }

  @media (max-width: $sm) {
    padding-top: 25vw;
  }

  @media (max-width: $xs) {
    padding-top: 35vw;
  }
}

.intro-slider__title {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 65px;
  line-height: 1;
  font-family: $ff-secondary;
  text-align: left;
  color: $c-accent;
  text-transform: uppercase;

  @media (max-width: $xl) {
    margin-bottom: 10px;

    font-size: 42px;
  }

  @media (max-width: $lg) {
    margin-bottom: 20px;

    font-size: 50px;
  }

  @media (max-width: $md) {
    margin-bottom: 15px;

    font-size: 30px;
  }

  @media (max-width: $sm) {
    font-size: 24px;
  }
}

.intro-slider__subtitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 27px;
  line-height: 1.2;
  font-family: $ff-secondary;
  color: $c-secondary;

  @media (max-width: $xl) {
    margin-bottom: 10px;

    font-size: 20px;
  }

  @media (max-width: $lg) {
    margin-bottom: 20px;

    font-size: 20px;
  }

  @media (max-width: $md) {
    margin-bottom: 15px;

    font-size: $fz-main;
  }

  @media (max-width: $sm) {
    font-size: 14px;
  }
}

.intro-slider__text {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 21px;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-secondary;

  @media (max-width: $xl) {
    margin-bottom: 10px;

    font-size: 18px;
  }

  @media (max-width: $lg) {
    margin-bottom: 20px;

    font-size: 21px;
  }

  @media (max-width: $md) {
    font-size: 14px;
  }

  @media (max-width: $sm) {
    font-size: 12px;
  }
}

.intro-slider__list {
  margin-bottom: 15px;
  padding-left: 15px;

  list-style-type: disc;
}

.intro-slider__item {
  margin-bottom: 0;

  font-weight: 400;
  font-size: $fz-main;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-secondary;

  @media (max-width: $md) {
    font-size: 14px;
  }

  @media (max-width: $sm) {
    font-size: 12px;
  }
}

.intro-slider__box-btn {
  @media (max-width: $xl) {
    display: none;
  }
}

.intro-slider__list {
}
