.mega-menu {
  visibility: hidden;
  opacity: 0;

  transition: .3s;

  .nav__item:hover & {
    visibility: visible;
    opacity: 1;

    @media (max-width: $lg) {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.mega-menu__container {
  position: absolute;
  top: 99%;
  left: 15px;
  z-index: 50;

  padding: 0;

  background-color: $c-secondary;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, .2);

  @media (max-width: $xl) {
    padding: 0;
  }

  @media (max-width: $lg) {
    top: 0;
    left: 99%;

    width: 560px;
    padding: 0;
    overflow-y: scroll;

    background-color: #262626;
  }

  @media (max-width: $md) {
    position: absolute;
    top: 100%;
    left: 15px;

    flex-direction: column;
    width: 100%;
    overflow-y: scroll;

    background-color: transparent;
  }

  .nav__box-icon--active + .mega-menu & {
    @media (max-width: $md) {
      position: relative;
    }
  }
}

.mega-menu__list {
  width: $c-3;
  padding: 0;

  list-style-type: none;

  @media (max-width: $md) {
    width: $c-12;
  }
}

.mega-menu__item {
  padding: 10px 15px;

  &:not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
  }

  @media (max-width: $lg) {
    padding: 5px;
  }
}

.mega-menu__link {
  font-size: 15px;
  line-height: 20px;
  font-family: $ff-secondary;
  color: #000;

  transition: all .2 ease;

  @media (max-width: $lg) {
    font-size: 12px;
    line-height: 15px;
    color: $c-secondary;
  }


  &:hover {
    color: $c-accent;
    text-decoration: none;
  }
}
