.nav {
}

.nav__list {
  display: flex;
}

.nav__item {
}

.nav__link {
  position: relative;

  padding: 18px 15px 18px;

  font-weight: 600;
  font-size: 15px;
  line-height: 23px;
  font-family: $ff-secondary;
  color: $c-main;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 2px;
    left: 0;

    display: block;
    width: 0;
    height: 4px;

    background-color: $c-accent;

    transition: width .2s linear;
  }

  &:hover {
    color: $c-main;
    text-decoration: none;
  }

  &:hover::after,
  &--active::after {
    width: 100%;
  }
}
