.nav {
}

.nav__list {
  display: flex;

  @media (max-width: $lg) {
    // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: 100;
    flex-direction: column;
    // width: 100%;
    // height: 100%;

    // background-color: #262626;
  }
}

.nav__item {
  @media (max-width: $lg) {
    padding: 10px 15px;

    border-bottom: 1px solid #333;
  }
}

.nav__link {
  position: relative;

  padding: 18px 8px;
  // padding: 18px 5px;

  font-weight: 600;
  font-size: 15px;
  line-height: 23px;
  font-family: $ff-secondary;
  color: $c-main;
  text-transform: uppercase;

  @media (max-width: $xl) {
    padding: 18px 5px;

    font-size: 13px;
  }

  @media (max-width: $lg) {
    padding: 0;

    color: $c-secondary;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 2px;
    left: 0;

    display: block;
    width: 0;
    height: 4px;

    background-color: $c-accent;

    transition: width .2s linear;

    @media (max-width: $xl) {
      bottom: 1px;
    }

    @media (max-width: $lg) {
      background-color: transparent;
    }
  }

  &:hover {
    color: $c-main;
    text-decoration: none;
  }

  &:hover::after,
  &--active::after {
    width: 100%;
  }
}
