.our-services {
}

.our-services__wrap {
}

.our-services__content {
  width: $c-8;
}

.our-services__wrap-img {
  margin-bottom: 45px;
}

.our-services__title {
  margin-bottom: 35px;

  text-align: left;
}

.our-services__text,
.our-services__item {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: $fz-main;
  line-height: 25px;
  font-family: $ff-main;
  color: $c-main;

  @media (max-width: $md) {
    font-size: 14px;
  }
}

.our-services__item {
  position: relative;

  margin-bottom: 8px;
  padding-left: 30px;

  font-weight: 500;


  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 15px;
    height: 15px;

    background: url("../img/icon/check-solid.svg") no-repeat;
    transform: translate(0, -50%);
  }
}

.our-services__list {
  margin-bottom: 30px;
}

.our-services__content-box {
  display: flex;
}

.our-services__appoint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 60px;
  padding: 0 15px 43px;

  box-shadow: 0 6px 18px rgba(0,0,0,.05);
  // max-width: 400px;

  &:hover {
    text-decoration: none;
  }
}

.our-services__appoint-icon {
  display: inline-block;
  margin-top: -46px;
  margin-bottom: 25px;
  padding: 2px;

  background-color: $c-secondary;
  border: 1px solid #dcdcdc;
  border-radius: 50%;

  & span {
    position: relative;

    display: block;
    width: 93px;
    height: 93px;
    margin: 0 auto;

    background-color: $c-accent;
    border-radius: 50%;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      display: block;
      width: 34px;
      height: 34px;

      background: url("../img/icon/calendar.svg") no-repeat;
      background-size: 100%;
      transform: translate(-50%, -50%);
    }
  }
}

.our-services__appoint-name {
  margin-bottom: 15px;
}

.our-services__appoint-text {
  margin-bottom: 0;

  font-weight: 400;
  font-size: $fz-main;
  line-height: 25px;
  font-family: $ff-main;
  text-align: center;
  color: $c-main;
}

.our-services__menu {
  width: $c-4;
}

.our-services__menu-title {
  margin-bottom: 20px;

  color: #000;
}

.our-services__contacts {
  display: flex;
  flex-direction: column;
}

.our-services__contacts-item {
  margin-bottom: 30px;
}

.our-services__address,
.our-services__phone .phone__link,
.our-services__email,
.our-services__time {
  display: block;

  color: #5e5e5e;
}

.our-services__address {
  &::before {
    background: url("../img/icon/map-mark-solid.svg") no-repeat;
  }
}
.our-services__phone .phone__link {
  &::before {
    background: url("../img/icon/phone-solid.svg") no-repeat;
  }
}
.our-services__email {
  &::before {
    background: url("../img/icon/email-solid.svg") no-repeat;
  }
}
.our-services__time {
  &::before {
    background: url("../img/icon/clock-solid.svg") no-repeat;
  }
}

.our-services__box {
  padding: 40px;

  background-color: #fff;
  box-shadow: 0 6px 35px rgba(0,0,0,.07);
}

.our-services__btn {
  margin-bottom: 40px;

  & span {
    color: $c-main;
  }
}
