.phone__link {
  position: relative;

  display: inline-block;
  margin-bottom: 12px;
  padding-left: 30px;

  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  font-family: $ff-main;
  color: $c-secondary;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 16px;
    height: 16px;

    background: url("../img/icon/phone.svg") no-repeat;
    transform: translate(0, -50%);
  }

  &--big {
    margin-bottom: 0;

    font-weight: 600;
    font-size: 27px;
    line-height: 35px;
    font-family: $ff-secondary;
    color: $c-secondary;

    &::before {
      display: none;
    }
  }

  &--color {
    color: $c-accent;
  }

  .phone:hover & {
    color: $c-accent;
    text-decoration: none;
  }
}

.phone__whatsapp {
  margin-right: 15px;

  @media (max-width: $lg) {
    margin-right: 0;
  }

  & svg {
    width: 30px;
    height: 30px;

    fill: $c-secondary;

    @media (max-width: $lg) {
      width: 20px;
      height: 20px;
    }
  }

  &:hover svg {
    fill: $c-accent;
  }
}
