.promo-sale {
}

.promo-sale__container {
  @media (max-width: $lg) {
    max-width: 100%;
  }
}

.promo-sale__title {
  margin-bottom: 10px;

  text-align: left;

  & span {
    color: $c-accent;
  }

  @media (max-width: $md) {
    font-size: 30px;
  }
}

.promo-sale__title-separator {
  margin: 0 0 40px;
}

.promo-sale__wrap {
  display: flex;

  @media (max-width: $md) {
    flex-direction: column;
  }
}

.promo-sale__block-img {
  position: relative;

  flex-shrink: 0;
  align-self: flex-start;
  width: 50%;

  @media (max-width: $md) {
    width: 100%;
  }
}

.promo-sale__wrap-img {
  & img {
    @media (max-width: $md) {
      width: 100%;
    }
  }
}

.promo-sale__block-desc {
  flex-grow: 1;
  padding-top: 25px;
  padding-right: 10px;
  padding-left: 70px;


  @media (max-width: $md) {
    padding-left: 0;
  }
}

.promo-sale__text {
  margin-bottom: 24px;

  font-weight: 400;
  font-size: $fz-main;
  font-family: $ff-main;
  color: $c-main;
}

.promo-sale__list {
}

.promo-sale__item {
  position: relative;

  margin-bottom: 14px;
  padding-left: 28px;

  font-weight: 500;
  font-size: $fz-main;
  line-height: 20px;
  font-family: $ff-main;

  &::before {
    content: "\2714";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 20px;
    height: 20px;

    font-weight: 400;
    font-size: 20px;
    font-family: $ff-secondary;
    color: $c-accent;
  }
}

.promo-sale__clip {
  position: absolute;
  right: -30px;
  bottom: -30px;

  width: 338px;
  padding: 46px 20px 46px;

  background-color: #2d2d2d;


  @media (max-width: $md) {
    right: 10px;
    bottom: 10px;

    max-width: calc(100% - 20px);
  }
}

.promo-sale__clip-name {
  margin-bottom: 30px;

  font-weight: 600;
  font-size: 27px;
  line-height: 28px;
  font-family: $ff-secondary;
  text-align: center;
  color: $c-secondary;

  @media (max-width: $lg) {
    margin-bottom: 15px;

    font-size: 23px;
    line-height: 23px;
  }
}

.promo-sale__wrap-btn {
  display: flex;
  justify-content: center;
}

.promo-sale__btn {
  @media (max-width: $lg) {
    padding: 12px 10px;
  }


  & span {
    @media (max-width: $lg) {
      font-size: 15px;
    }
  }
}
