.search {
  position: relative;

  display: flex;
  align-items: center;
}

.search__input {
  position: absolute;
  top: 0;
  right: 50px;

  display: none;
  min-width: auto;
  height: 50px;
  padding: 10px;

  font-size: 18px;
  line-height: 24px;
  color: #2b2b2b;

  background-color: #fafafa;
  border: 1px solid transparent;
  outline: none;

  transition: .3s;

  .search:hover & {
    display: block;
  }
}

.search__btn {
  position: relative;

  order: 1;
  width: 50px;
  height: 50px;

  transition: .3s;

  & svg {
    width: 16px;
    height: 16px;

    transition: .3s;

    fill: #5f5f5f;

    .search:hover & {
      fill: $c-secondary;
    }

    @media (max-width: $lg) {
      fill: $c-secondary;
    }
  }

  .search:hover & {
    background-color: $c-accent;

    @media (max-width: $lg) {
      background-color: transparent;
    }
  }
}
