.stages-work {
  padding: 75px 65px 60px;
  overflow-x: hidden;

  background: url("../img/bc/work-bg-2.jpg") no-repeat top right fixed;
  background-size: cover;

  @media (max-width: $lg) {
    padding: 60px 65px;
  }

  @media (max-width: $md) {
    padding: 60px 0;
  }
}

.stages-work__title {
  color: $c-secondary;

  & span {
    color: $c-accent;
  }
}

.stages-work__title-desc {
  margin-bottom: 40px;
  padding: 0 10px;

  color: $c-secondary;

  @media (max-width: $lg) {
    margin-bottom: 15px;
  }
}

.stages-work__slider {
}

.stages-work__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  @media (max-width: $md) {
    flex-wrap: nowrap;
    min-width: 0;
    margin: 0;
  }
}

.stages-work__slide {
  // position: relative;
  width: 25%;
  // padding: 0 15px;

  @media (max-width: 1400px) {
    width: 50%;
    margin-bottom: 40px;
  }

  @media (max-width: $md) {
    width: 100%;
  }
}

.stages-work__wrap-img {
  position: relative;

  padding-left: 90px;

  @media (max-width: $md) {
    display: flex;
    justify-content: center;
    padding-left: 0;
  }

  @media (max-width: 1400px) {
    padding-left: 155px;
  }

  @media (max-width: $lg) {
    padding-left: 75px;
  }

  @media (max-width: $md) {
    height: 188px;
    margin-left: -30px;
  }

  & img {
    width: 100%;
    height: 307px;

    object-fit: cover;

    @media (max-width: $lg) {
      height: 197px;
    }

    @media (max-width: $md) {
      width: 260px;
      height: 188px;
    }

    @media (max-width: $sm) {
      width: auto;
    }
  }
}

.stages-work__marker {
  position: absolute;
  top: -44px;
  left: -14px;
  z-index: -1;

  display: block;
  height: 100%;

  font-weight: 400;
  font-size: 400px;
  line-height: 1;
  font-family: $ff-secondary;
  color: $c-accent;

  @media (max-width: $lg) {
    top: -23px;
    left: 0;

    font-size: 250px;
  }

  @media (max-width: $md) {
    // left: 15%;
    position: relative;
    top: -27px;
    left: 40px;

    order: -1;
    width: 130px;
  }
}

.stages-work__name {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 25px 20px 20px 27px;

  color: $c-secondary;

  transition: color .2s linear;

  @media (max-width: $lg) {
    left: 50%;

    justify-content: flex-start;
    padding: 11px 11px 11px 20px;

    transform: translate(-25%, 0);
  }

  @media (max-width: $md) {
    left: 40%;

    width: 50%;

    font-size: 14px;
    line-height: 17px;

    transform: translate(0, 0);
  }

  @media (max-width: $sm) {
    left: 45%;
  }
}
