
.sub-2__item {
  position: relative;

  padding: 10px;
  padding-left: 20px;

  @media (max-width: $lg) {
    padding: 5px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;

    display: block;
    width: 12px;
    height: 12px;

    background: url("../img/icon/check-solid.svg") no-repeat;

    @media (max-width: $lg) {
      left: -7px;

      width: 15px;
      height: 15px;

      font-size: 15px;
    }
  }
}

.sub-2__link {
  font-size: 15px;
  line-height: 20px;
  font-family: $ff-secondary;
  color: #000;

  transition: all .2 ease;

  @media (max-width: $lg) {
    padding-left: 7px;

    font-size: 12px;
    line-height: 15px;
    color: $c-secondary;
  }


  &:hover {
    color: $c-accent;
    text-decoration: none;
  }
}
