
.sub-2__item {
  padding: 10px;

  @media (max-width: $lg) {
    padding: 5px;
  }
}

.sub-2__link {
  position: relative;

  padding-left: 20px;

  font-size: 15px;
  line-height: 20px;
  font-family: $ff-secondary;
  color: $c-main;

  transition: all .2 ease;

  @media (max-width: $lg) {
    padding-left: 7px;

    font-size: 12px;
    line-height: 15px;
    color: $c-secondary;
  }


  &:hover {
    color: $c-accent;
    text-decoration: none;
  }

  &::before {
    content: "\2714";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 20px;
    height: 20px;

    font-weight: 400;
    font-size: 20px;
    font-family: $ff-secondary;
    color: $c-accent;

    @media (max-width: $lg) {
      left: -7px;

      width: 15px;
      height: 15px;

      font-size: 15px;
    }
  }
}
