
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 11px;
}

.swiper-pagination-bullet {
  width: 7px;
  height: 7px;

  background-color: #c1c1c1;
  border-radius: 3px;
  opacity: 1;

  @media (max-width: $lg) {
    width: 5px;
    height: 5px;
  }
}

.swiper-pagination-bullet-active {
  width: 17px;

  background-color: $c-accent;

  @media (max-width: $lg) {
    width: 12px;
  }
}
