// ////////////////////////////////////////// Roboto
@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;

  font-display: swap;
  src: url(../font/Roboto/Roboto-Regular.woff2),
  url(../font/Roboto/Roboto-Regular.woff);
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  font-style: normal;

  font-display: swap;
  src: url(../font/Roboto/Roboto-Medium.woff2),
  url(../font/Roboto/Roboto-Medium.woff);
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  font-style: normal;

  font-display: swap;
  src: url(../font/Roboto/Roboto-Bold.woff2),
  url(../font/Roboto/Roboto-Bold.woff);
}

@font-face {
  font-weight: 600;
  font-family: Poppins;
  font-style: normal;

  font-display: swap;
  src: url(../font/Poppins/Poppins-SemiBold.woff2),
  url(../font/Poppins/Poppins-SemiBold.woff);
}

@font-face {
  font-weight: 400;
  font-family: Poppins;
  font-style: normal;

  font-display: swap;
  src: url(../font/Poppins/Poppins-Regular.woff2),
  url(../font/Poppins/Poppins-Regular.woff);
}
