.btn {
  position: relative;

  display: block;
  min-width: 162px;
  padding: 17px 10px;
  overflow: hidden;

  font-weight: 500;
  font-size: $fz-main;
  line-height: 18px;
  text-align: center;
  color: $c-secondary;
  text-transform: capitalize;

  background-color: transparent;
  box-shadow: inset 0 0 0 2px $c-accent;




  @media (max-width: $sm) {
    padding: 8px 10px;
  }

  &:hover {
    color: #2c2c2c;
    text-decoration: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: $c-accent;
    opacity: 0;

    transition: all .4s ease;
  }

  &::before {
    right: 100%;
    left: auto;

    transform: skew(-30deg) translate3d(0,0,0);
  }

  &::after {
    right: auto;
    left: 100%;

    transform: skew(30deg) translate3d(0,0,0);
  }

  &:hover::before {
    transform: skew(-30deg) translate3d(70%,0,0);
    opacity: 1;
  }

  &:hover::after {
    transform: skew(30deg) translate3d(-70%,0,0);
    opacity: 1;
  }

  & span {
    position: relative;
    z-index: 8;

    font-weight: 500;
    font-size: $fz-main;
    line-height: 18px;
    color: $c-secondary;
    text-transform: capitalize;

    @media (max-width: $sm) {
      font-size: 12px;
    }
  }
}


.btn-box {
  position: absolute;
  top: 50%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn-prev,
.btn-next {
  width: 40px;
  height: 40px;

  svg {
    display: block;
    width: 100%;
    height: 100%;

    fill: $c-secondary;
  }

  &:hover svg {
    fill: $c-accent;
  }
}

.btn-prev {
  margin-left: 30px;
  svg {
    transform: scale(-1, 1);
  }

  @media (max-width: 1300px) {
    margin-left: 10px;
    margin-left: 0;
  }
}

.btn-next {
  margin-right: 30px;

  @media (max-width: 1300px) {
    // margin-right: 10px;
    margin-right: 0;
  }
}
